#nav-sub,
#about,
#stats,
#habitats,
.pokemon-avatar {
  display: none;
}

#nav-sub.active,
#about.active,
#stats.active,
#habitats.active {
  display: block;
}

@media (min-width: 1400px) {
  .pokemon-avatar.active {
    display: block;
  }
}
