header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header hr {
  width: 10vw;
  height: 0.2rem;
  flex-grow: 1;
  border-radius: 1rem;
}

header hr:first-of-type {
  background: linear-gradient(
    to left,
    var(--secondary-color),
    var(--tertiary-color)
  );
}

header hr:last-of-type {
  background: linear-gradient(
    to right,
    var(--secondary-color),
    var(--tertiary-color)
  );
}

header img {
  width: 50vw;
  transition: var(--transition-base);
}

header img:hover {
  scale: 0.9;
  filter: drop-shadow(0 0.25rem 0 var(--primary-color));
}

@media (min-width: 800px) {
  header img {
    width: 20vw;
  }
}
