header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div {
    background: black;
    width: 10vw;
    height: 0.2rem;
    flex-grow: 1;
}

header img {
    width: 50vw;
}

@media (min-width: 800px) {
    header img {
        width: 20vw;
    }
}
