/* Main style */

/* Import feature styles */
@import url("./team.css");
@import url("./header.css");
@import url("./about.css");
@import url("./detailNav.css");
@import url("./teamNavigation.css");

:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;

  color-scheme: light dark;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #fbd743;
  --secondary-color: #4261b4;
  --tertiary-color: #153066;
  --transition-base: 0.5s ease-out;
}

:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;

  color-scheme: light dark;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #fbd743;
  --secondary-color: #4261b4;
  --tertiary-color: #153066;
  --transition-base: 0.5s ease-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--primary-color);
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

@media (min-width: 800px) {
  #app {
    padding: 2rem 15vw 2rem 15vw;
  }
}

/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

ul {
  list-style: none;
}

main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 1400px) {
  main {
    flex-direction: row;
    gap: 4rem;
  }
}

main > *:nth-child(1) {
  order: 3;
}

#startPagina {
  display: flex;
  flex-direction: column;
}

#startPagina img {
  width: 60vw;
  padding: 5rem 0 5rem 0;
  align-self: center;
}

@media (min-width: 800px) {
  #startPagina img {
    width: 30vw;
  }
}

a {
  text-decoration: none;
  color: black;
}

main > img {
  margin-left: calc(50% - 25vw);
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 50vw;
}

@media (min-width: 800px) {
  main > img {
    margin-left: calc(50% - 12.5vw);
    width: 25vw;
  }
}

@media (min-width: 1400px) {
  main > img {
    margin: 0;
    width: 15vw;
    object-fit: contain;
  }
}
