main > nav li {
    margin-bottom: 2rem;
}

main > nav li a {
    display: inline-block;
    background-color: white;
    padding: 2rem 3rem;
}

main > nav img {
    width: 4rem;
    opacity: 0.2;
    animation: rotate 1s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}