#nav-main ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 3rem;
}

#nav-main li {
  margin-bottom: 2rem;
}

#nav-main li a {
  display: inline-block;
  background-color: white;
  padding: 2rem 3rem;
  transition: var(--transition-base);
}

#nav-main li a:hover:not(a.active) {
  box-shadow: -0.5rem 0.5rem 0 var(--tertiary-color);
}

#nav-main li a.active {
  background-color: var(--secondary-color);
  transform: scale(1.15);
}

#nav-main img {
  width: 4rem;
}

#nav-main img.loader {
  opacity: 0.2;
  animation: rotate 1s infinite;
}

@media (min-width: 800px) {
  #nav-main li a {
    padding: 2rem 2rem;
  }
}

@media (min-width: 1400px) {
  #nav-main ul {
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
